<header pageTitle="Forgot password" pageIcon="info" help="Forgot" photourl=""></header>
<br>
        <mat-card-content> 
          <form #formData="ngForm" (ngSubmit)="resetPassword(email.value)" class="example-form">
            <div class="center">
            <mat-form-field class="example-form">
              <input matInput placeholder="Email to reset password" name="email" #email="ngModel" ngModel required email>
            </mat-form-field>
            </div>
            <div class="center">
            <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">Please enter a valid email.</mat-error>
            </div>
        
            <div class="center">
            <mat-card-actions align="start" class="center">
              <button type="submit" [disabled]="!formData.valid" mat-raised-button color="primary">Reset Password</button>
              <!--<button type="button" routerLink="/shopping" mat-raised-button color="primary">Browse as Guest</button>-->
            </mat-card-actions>
            </div>
            <div class="center">
            <mat-card-actions>
              <button mat-button routerLink="/login">
                <strong>Back to Login</strong>
              </button>
            </mat-card-actions>
          </div>
          </form>

        </mat-card-content>
