<mat-toolbar>
    <button mat-fab color="warn" mat-button [matMenuTriggerFor]="socialNavigation">
        <mat-icon>local_mall</mat-icon>
    </button>
    <span class="example-icon"></span>
    <mat-icon>{{pageIcon}}</mat-icon>
    {{pageTitle}}
    <span class="example-spacer"></span>
    <mat-icon [color]="userstatuscolor" routerLink="/product">shop</mat-icon>
    <span class="example-icon"></span>
    <mat-icon [color]="userstatuscolor" routerLink="/settings"><img src="{{photourl}}" style="height: 25px;"></mat-icon>
    <span class="example-icon"></span>
    <mat-icon matBadge="{{counter}}" matBadgePosition="before" matBadgeColor="accent">shopping_cart</mat-icon>
    <span class="example-icon"></span>
    <mat-icon mat-button [matMenuTriggerFor]="menu">help</mat-icon>
    <span class="example-icon"></span>
    <button routerLink="/admin">
    <mat-icon>settings</mat-icon> </button>
    
    <mat-menu #socialNavigation="matMenu">
     <a href="{{configData.fb}}" target="_blank"> <button mat-menu-item>Facebook</button></a>  
     <a href="{{configData.linkdin}}" target="_blank">  <button mat-menu-item>Linkdin</button></a>
     <a href="{{configData.git}}" target="_blank">  <button mat-menu-item>Git Hub</button></a>
     <a href="{{configData.instagram}}" target="_blank">  <button mat-menu-item>Instagram</button></a>
      </mat-menu>

    <mat-menu #menu="matMenu">
        {{help}}
      </mat-menu>
</mat-toolbar>
