<mat-toolbar>
    <button mat-fab color="warn" mat-button [matMenuTriggerFor]="socialNavigation">
        <mat-icon>bar_chart</mat-icon>
    </button>
    <span class="example-icon"></span>
    <mat-icon>{{pageIcon}}</mat-icon>
    {{pageTitle}}
    <span class="example-spacer"></span>
    <mat-icon [color]="userstatuscolor"><img src="{{photourl}}" style="height: 30px;" [matMenuTriggerFor]="profile"></mat-icon>
    <span class="example-icon"></span>
    <span class="example-icon"></span>
    <mat-menu #socialNavigation="matMenu">
     <a href="{{configData.fb}}" target="_blank"> <button mat-menu-item>Facebook</button></a>  
     <a href="{{configData.linkdin}}" target="_blank">  <button mat-menu-item>Linkdin</button></a>
     <a href="{{configData.git}}" target="_blank">  <button mat-menu-item>Git Hub</button></a>
     <a href="{{configData.instagram}}" target="_blank">  <button mat-menu-item>Instagram</button></a>
      </mat-menu>

      <mat-menu #profile="matMenu">
         <button mat-menu-item (click)="gotoServices()">Services</button>
         <button mat-menu-item (click)="logout()">Logout</button>
       </mat-menu>

</mat-toolbar>
