<header pageTitle="Package" pageIcon="info"></header> 
<div class="center" *ngIf="!isPaymentDone">
<h2>choose our plan to continue</h2>
</div>
<form #formData="ngForm" (ngSubmit)="login(formData.value)" class="center example-form" *ngIf="!isPaymentDone">
  <div>
    <label>
      <input type="radio" value="Premium" [ngModel]="package" (click)="totalAmout('premium')" name="Premium">
        <span>Premium</span>
    </label>
    <span class="example-icon"></span>
    <label>
      <input type="radio" [ngModel]="package" (click)="totalAmout('standard')"  value="Standard" name="Standard" >
        <span>Standard</span>
    </label>
  </div>
 </form>
 <div class="center example-form" *ngIf="!isPaymentDone">
   <img src="{{pkgImage}}" style="height: 100px;">
  </div>
 <div class="center example-form" *ngIf="!isPaymentDone">
   
<button (click)="paymentProcess()" class="center">pay total amount of {{amount}}</button>
</div>
  <div class="center" *ngIf="isPaymentDone">
    <h2 class="center">payment success !!! Thank you for choosing {{pkgName}} pack <br> 
      <a href="/services" style="padding-left: 5px;padding-right: 5px;" >  click here </a> to continue</h2>
  </div>
  

