<header pageTitle="Sign up" pageIcon="info" help="Sign up"></header>

<mat-card-content> 
    <mat-divider></mat-divider>
    <form #formData="ngForm"  (ngSubmit)="signup(formData.value)" class="example-form">
      <mat-card-actions *ngIf="error">
        <mat-error>Login credentials are not verified. Here is the error: {{ error }}</mat-error>
      </mat-card-actions>
     <!-- <mat-error *ngIf="dataLoading">
        <mat-progress-bar mode="indeterminate" [value]="15"></mat-progress-bar>
      </mat-error>-->
      <br>
    <div class="center">
      <mat-form-field class="example-form">
        <input matInput placeholder="email" name="email" #email="ngModel" ngModel required email>
      </mat-form-field>
    </div>
      <div class="center"> 
      <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">Please enter a valid email.</mat-error>
    </div>
    <div class="center"> 
      <mat-form-field class="example-form">
        <input matInput type="password" placeholder="choose a password" name="password" #password="ngModel" ngModel required minlength="5"
          maxlength="30">
      </mat-form-field>
    </div>
      <div class="center">
      <mat-form-field class="example-form">
        <input matInput type="password" placeholder="confirm password" name="confirmPassword" #confirmPassword="ngModel" ngModel required minlength="5"
          maxlength="30">
      </mat-form-field>
    </div>
    <div class="center">
      <mat-card-actions *ngIf="passwordMismatch">
        <mat-error>Password doesn't matched</mat-error>
      </mat-card-actions>
      </div>
      <div class="center">
      <span *ngIf="password.invalid && (password.dirty || password.touched)">
        <mat-error *ngIf="password.errors['required']">Password is Required.</mat-error>
        <mat-error *ngIf="password.errors['minlength']">Password can't be less than 5 characters.</mat-error>
        <mat-error *ngIf="password.errors['maxlength']">Password can't be more than 30 characters.</mat-error>
      </span>
    </div>
    <div class="center">
      <mat-card-actions align="start" class="center">
        <button type="submit" [disabled]="!formData.valid"  mat-raised-button color="primary">Sign Up</button>
        <!--<button type="button" routerLink="/shopping" mat-raised-button color="primary">Browse as Guest</button>-->
       <br></mat-card-actions>
       </div>
    </form>
    <div class="center">
    <mat-card-actions>
        <mat-divider></mat-divider>
        <button mat-button routerLink="/login">
          <strong>Click here to Login</strong>
        </button>
      </mat-card-actions>
    </div>
  </mat-card-content>

