<section id="lab_social_icon_footer">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <div class="container">
            <div class="text-center center-block" style="font-size: 11px;">
                <span style="font-size: 20px;"><b>Connect with Ravi </b></span>
                    <a href="{{sociallink.fb}}"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                    <a href="{{sociallink.instagram}}"><i id="social-insta" class="fa fa-instagram fa-3x social"></i></a>
                    <a href="{{sociallink.linkdin}}"><i id="social-tw" class="fa fa-linkedin-square fa-3x social"></i></a>
                    <a href="{{sociallink.git}}"><i id="social-gp" class="fa fa-github-square fa-3x social"></i></a>
                    <a href="mailto:ravi.ranjan26j@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
    </div>
    <div class="center">
        &copy; 2020
    </div>
    </section>